@font-face {
    font-family: 'Graphik';
    src: url(../../assets/fonts/graphik/Graphik-Bold.woff2) format('woff2'),
        url(../../assets/fonts/graphik/Graphik-Bold.woff) format('woff'),
        url(../../assets/fonts/graphik/Graphik-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url(../../assets/fonts/graphik/Graphik-Semibold.woff2) format('woff2'),
        url(../../assets/fonts/graphik/Graphik-Semibold.woff) format('woff'),
        url(../../assets/fonts/graphik/Graphik-Semibold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url(../../assets/fonts/graphik/Graphik-Regular.woff2) format('woff2'),
        url(../../assets/fonts/graphik/Graphik-Regular.woff) format('woff'),
        url(../../assets/fonts/graphik/Graphik-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marmelad';
    src: url(../../assets/fonts/Marmelad/Marmelad-Regular.woff2) format('woff2'),
        url(../../assets/fonts/Marmelad/Marmelad-Regular.woff) format('woff'),
        url(../../assets/fonts/Marmelad/Marmelad-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABeeZee';
    src: url(../../assets/fonts/ABeeZee/ABeeZee-Regular.woff2) format('woff2'),
        url(../../assets/fonts/ABeeZee/ABeeZee-Regular.woff) format('woff'),
        url(../../assets/fonts/ABeeZee/ABeeZee-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson';
    src: url(../../assets/fonts/Crimson/CrimsonText-Regular.woff2) format('woff2'),
        url(../../assets/fonts/Crimson/CrimsonText-Regular.woff) format('woff'),
        url(../../assets/fonts/Crimson/CrimsonText-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url(../../assets/fonts/Oxygen/Oxygen-Regular.woff2) format('woff2'),
        url(../../assets/fonts/Oxygen/Oxygen-Regular.woff) format('woff'),
        url(../../assets/fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}