@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.kindness {

    &__act {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        background: linear-gradient(to left, #F5F1EE, white, #caf0f8, #ACE5FD);
        padding: 1rem 0.5rem 1rem;
        border-radius: 16px;
        margin: 0 0.5rem;
    }

    &__img {
        // width: 18.7rem;
        max-width: 100%;
        border-radius: 11%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__title {
        color: $font-primary;
        font-size: 1.1rem;
    }

    &__description {
        color: $font-secondary;
        font-size: 0.9rem;
        padding: 0 1.2rem;
    }

    &__btn {
        margin: 0;
    }
}