@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.user {
    display: flex;
    width: 100%;
    height: 90vh;

    &__view {
        // background-image: url(../../assets/images/hero_background.jpg);
        padding: 3rem 3.5rem 0rem;
        width: 100%;
    }

    &__info {
        width: 100%;
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__avatar {
        width: 14.5rem;
        padding: 1.5rem;
        border-radius: 50%;
        box-shadow: 0px 0px 20px #069CDA;
        background-image: url(../../assets/images/hero_background.jpg);
    }

    &__data {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-image: url(../../assets/images/hero_background.jpg);
        gap: 2rem;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0px 0px 20px #069CDA;
    }

    &__current {
        padding: 1.5rem;
        background-image: url(../../assets/images/hero_background.jpg);
        flex: 2;
        border-radius: 8px;
        box-shadow: 0px 0px 20px #069CDA;
    }

    &__title {
        color: #023e8a;
        font-size: 1.1rem;
        font-weight: 600;
        font-family: 'Oxygen';
        text-transform: uppercase;
        padding-bottom: 0.1rem;
        border-bottom: 1px solid skyblue;
    }

    &__acts-list {
        margin: 0.5rem 0 0;
    }

    &__input {
        color: #0c6d95;
        font-size: 0.9rem;
        font-family: 'Century Gothic';
        padding-top: 0.2rem;

        &-acts {
            text-align: center;
            font-size: 1rem;
            color: #0c6d95;
            padding-top: 0.5rem;
            font-family: 'Century Gothic';
        }

        &--acts {
            font-size: 1rem;
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;
            margin-bottom: 0.3rem;
        }
    }

    &__input-icons {
        display: flex;
        gap: 0.2rem;
    }

    &__icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateX(2.5px);
            transform: translateY(2.5px);
        }

        &--done {
            color: $font-light;
        }
    }

    &__about {
        width: 65%;
        border-radius: 8px;
        background-image: url(../../assets/images/hero_background.jpg);
        padding: 1.5rem;
        box-shadow: 0px 0px 20px #069CDA;
    }

    &__bio {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__stats {
        padding: 1.5rem;
        background-image: url(../../assets/images/hero_background.jpg);
        border-radius: 8px;
        flex: 1;
        box-shadow: 0px 0px 20px #069CDA;
    }

    &__underline-acts {
        font-family: 'Marmelad';
        font-size: 36px;
        position: relative;
        padding: 1.5rem;

        &:after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            height: 8px;
            width: 110%;
            border: solid 4px #069CDA;
            border-color: #069CDA transparent transparent transparent;
            border-radius: 50%;

            @include tablet {
                bottom: -19px;
                height: 11px;
            }
        }

    }
}